* {
    padding: 0;
    margin: 0;
}

.conaatainer {
    height: 300px;
    width: 50%;
    margin: 50px auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8 {
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    margin: 20px;
    background-color: rgb(214, 9, 111);
}

.box-1 {
    box-shadow: 5px 5px 3px 2px rgb(100, 81, 81);
}

.box-2 {
    box-shadow: 12px 12px 4px 4px rgb(100, 81, 81);
}


/* .box-3 {
    box-shadow: 8px 10px 6px 4px rgb(100, 81, 81);
} */

.box-3 {
    box-shadow: 8px 10px 7px 4px rgb(100, 81, 81);
}

.box-4 {
    box-shadow: 15px 20px 6px 5px rgb(100, 81, 81);
}

.box-5 {
    box-shadow: 20px 20px 3px 2px rgb(100, 81, 81);
}

.box-6 {
    box-shadow: 20px 20px 20px 2px rgb(100, 81, 81);
}

.box-7 {
    box-shadow: -20px 20px 10px 2px rgb(100, 81, 81);
}

.box-8 {
    box-shadow: 10px 10px 10px 6px rgb(187, 96, 167);
}